body {
    font-family: Arial, sans-serif;
  
    text-align: center;
    padding: 50px 20px;
  }
  
  h2 {
    color: #003366;
  }
  
  textarea {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: none;
    outline: none;
  }
  

  p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  #wordCount {
    font-size: 20px;
    font-weight: bold;
    
  }
  