@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  box-sizing: border-box;
  background-image: url(./durbin.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
.main_div {
    height: 100vh;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.166);
  }
  header div h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 2;
    font-stretch: expanded;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 6px;
  }
  li {
    list-style-type: none;
    padding: 0px 20px;
    display: inline-block;
    font-family: Helvetica, serif;
  }
  ul {
    font-size: 20px;
  }
  ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .login     {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(0, 255, 208);
    border-radius: 50px;
    padding: 9px 25px;
    cursor: pointer;
  }
  .but_a {
    color: white;
    text-decoration: none;
  }
 h1{
    text-align: center;
    color: white;
    margin-top: 30px;
 }
 h2{
    color: white;


 }
 p{
    color: white;
   
    
 }
 button{
    padding: 7px;
    border-radius: 10px;
    background-color: aqua;
  
 }
  footer {
  background: rgba(255, 255, 255, 0.166);
  padding: 20px;
}

footer nav {
  text-align: center;
}

.facebook {
  width: 29px;
}
.insta {
  width: 50px;
}
.twitter {
  width: 35px;
}

footer div h3 {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  letter-spacing: 4px;
}
footer div h3 span {
  letter-spacing: 3px;
}
.main-upper {
  height: 100%;
}

.main-flex{

  display: flex;
  flex-direction: column;
align-items: center;

}
.bmi{
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  width: 50vw;
}
.todo{
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  width: 50vw;
}
.geometry{
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  width: 50vw;
}
.angle{
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  width: 50vw;
}
.light{
  margin-top: 30px;
  width: 50vw;
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
}
.basic{
  margin-top: 30px;
  width: 50vw;
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
}
.curren{
width: 50vw;
margin-top: 30px;
border: 4px solid black;
padding: 10px;
border-radius: 20px;
}
.form{
  margin-top: 30px;
  width: 50vw;
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
}
.word{
  margin-top: 30px;
  width: 50vw;
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
}
.background{
  border: 4px solid black;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  width: 50vw;
  margin-bottom: 30px;
}   